---
title: "Vulcan Guidelines"
url: "/docs/guidelines/rest-api-guidelines.html"
icon: "streams"
weight: 2
---

{namespace pageDocsGuidelines}

/**
 *
 */
{template .render}
{/template}

/**
 * @param page
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='{$page.url}'">
</head>
</html>
{/template}
