---
title: "Vulcan Architect"
url: "/docs/architect/quick-start-to-build-a-vulcan-api.html"
icon: "hammer"
weight: 3
---

{namespace pageDocsArchitect}

/**
 *
 */
{template .render}
{/template}

/**
 * @param page
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='{$page.url}'">
</head>
</html>
{/template}
