---
title: "Vulcan Consumer"
url: "/docs/consumer/quick-start-to-build-a-vulcan-consumer.html"
icon: "code-file"
weight: 4
---

{namespace pageDocsConsumer}

/**
 *
 */
{template .render}
{/template}

/**
 * @param page
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='{$page.url}'">
</head>
</html>
{/template}
