.docs-home-top,
.docs .docs-home-top {
	padding: 75px 0;
}

.guide .docs .sidebar-list.sidebar-list-1 .sidebar-link.sidebar-link-selected {
	background: none;
}

.guide .docs .sidebar-list.sidebar-list-1 .sidebar-item.active > .sidebar-list.sidebar-list-1 .sidebar-item.active .sidebar-link.sidebar-link-selected {
	background: rgba($accent, 0.1);
}
