$accent: #4285F4;

@import "marble";

// Root
@import "templates/root";

// Landing
@import "templates/landing";

// Docs
@import "templates/docs";

// Search
@import "templates/search";

// Tutorial
@import "templates/tutorial";.header {
.header {
	padding: 20px 0 0;

	@media (min-width: $screen-md-min) {
		padding: 80px 0 0;
	}
// GitHub buttons

.gh-btns {
	background: rgba($primary, .07);
	margin: 75px 0 0;
	padding-bottom: 10px;
	padding-top: 16px;
}

@media (min-width: $screen-md-min) {
	.gh-btns {
		margin-top: 140px;
	}
}