$accent: #4285F4;

@import "marble";

// Root
@import "templates/root";

// Landing
@import "templates/landing";

// Docs
@import "templates/docs";

// Search
@import "templates/search";

// Tutorial
@import "templates/tutorial";