---
title: "Introduction"
url: "/docs/introduction/introduction-to-rest.html"
icon: "arrow-right-rod"
weight: 1
---

{namespace pageDocsIntroduction}

/**
 *
 */
{template .render}
{/template}

/**
 * @param page
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='{$page.url}'">
</head>
</html>
{/template}
